@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

h1 {
  font-family: "Winky Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.left-arrow,
.right-arrow {
  font-family: "Winky Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  cursor: pointer;

  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 40px;
  transition: font-size 0.2s ease-in-out;
}
.left-arrow:hover,
.right-arrow:hover {
  font-size: 65px;
}
