@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.day-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0px;
}

.day-banner > div {
  font-family: "Winky Sans", sans-serif;
  border: 2px solid rgb(224, 224, 224);
  padding: 20px;
}
