@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.pop-up-window {
  background-color: red;
  width: 100px;
  height: 100px;
}
